.skills {
  width: 100%;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.skills > div {
  margin: 40px 150px;
}
.skills > div > * {
  margin-bottom: 20px;
}
.bar {
  width: 40vw;
}

@media (max-width: 900px) {
  .skills > div {
    margin: 50px 20px;
  }
}
@media (max-width: 900px) {
  .bar {
    width: 70vw;
  }
}
